<section class="bg-grey-lighter border-t border-b border-grey-light py-16 mt-16">
  <div class="container m-auto">
    <h3 class="lg:text-4xl text-2xl font-brand-light text-center text-black">Features every app needs and more</h3>
    <p class="text-center text-grey-darker text-lg mb-10">From authentication to payment integration, it all comes standard</p>

    <div class="flex flex-wrap items-center justify-between m-auto lg:mb-5 lg:px-0 px-4">

      <div class="lg:w-1/3 w-full lg:pr-3 lg:mb-0 mb-4">
        <div class="rounded bg-white shadow p-6 flex items-start justify-start">
          <div class="mr-4 mt-1">
            <%= render_svg 'features/authentication', styles: "text-black fill-current" %>
          </div>
          <div>
            <h5 class="text-black uppercase tracking-wider font-brand-semibold font-normal mb-1">Authentication</h5>
            <p class="leading-tight text-grey-darkest text-lg">A fully integrated authentication system to keep your app secure.</p>
          </div>
        </div>
      </div>

      <div class="lg:w-1/3 w-full lg:pl-1 lg:pr-1 lg:mb-0 mb-4">
        <div class="rounded bg-white shadow p-6 flex items-start justify-start">
          <div class="mr-4 mt-1">
            <%= render_svg 'features/payments' %>
          </div>
          <div>
            <h5 class="text-black uppercase tracking-wider font-brand-semibold font-normal mb-1 text-primary">Payments</h5>
            <p class="leading-tight text-grey-darkest text-lg">Choose from PayPal, Stripe or both to accept nearly any form of payment.</p>
          </div>
        </div>
      </div>

      <div class="lg:w-1/3 w-full lg:pl-3 lg:mb-0 mb-4">
        <div class="rounded bg-white shadow p-6 flex items-start justify-start">
          <div class="mr-4 mt-1">
            <%= render_svg 'features/tailwindcss' %>
          </div>
          <div>
            <h5 class="text-black uppercase tracking-wider font-brand-semibold font-normal mb-1" style="color: #44A8B3;">Tailwind CSS</h5>
            <p class="leading-tight text-grey-darkest text-lg">Use a utility-first CSS framework to create a stunning custom design.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap items-center justify-between m-auto lg:mb-5 lg:px-0 px-4">
      <div class="lg:w-1/3 w-full lg:pr-3 lg:mb-0 mb-4">
        <div class="rounded bg-white shadow p-6 flex items-start justify-start">
          <div class="mr-4 mt-1">
            <%= render_svg 'features/announcements' %>
          </div>
          <div>
            <h5 class="text-black uppercase tracking-wider font-brand-semibold font-normal mb-1 text-green">Announcements</h5>
            <p class="leading-tight text-grey-darkest text-lg">Make announcements so your customers are always in the loop.</p>
          </div>
        </div>
      </div>

      <div class="lg:w-1/3 w-full lg:pl-1 lg:pr-1 lg:mb-0 mb-4">
        <div class="rounded bg-white shadow p-6 flex items-start justify-start">
          <div class="mr-4 mt-1">
            <%= render_svg 'features/user-impersonation' %>
          </div>
          <div>
            <h5 class="text-black uppercase tracking-wider font-brand-semibold font-normal mb-1 text-orange">User Impersonation</h5>
            <p class="leading-tight text-grey-darkest text-lg">Easily act as other users to diagnose a bug or confirm a suspicion.</p>
          </div>
        </div>
      </div>

      <div class="lg:w-1/3 w-full lg:pl-3 lg:mb-0 mb-4">
        <div class="rounded bg-white shadow p-6 flex items-start justify-start">
          <div class="mr-4 mt-1">
            <%= render_svg 'features/api-support' %>
          </div>
          <div>
            <h5 class="text-black uppercase tracking-wider font-brand-semibold font-normal mb-1" style="color: #D177D4; ">API Support</h5>
            <p class="leading-tight text-grey-darkest text-lg">Use a utility-first CSS framework to create a stunning custom design.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap items-center justify-between m-auto lg:mb-5 lg:px-0 px-4">
      <div class="lg:w-1/3 w-full lg:pr-3 lg:mb-0 mb-4">
        <div class="rounded bg-white shadow p-6 flex items-start justify-start">
          <div class="mr-4 mt-1">
            <%= render_svg 'features/invoicing' %>
          </div>
          <div>
            <h5 class="text-black uppercase tracking-wider font-brand-semibold font-normal mb-1" style="color: #F37B7B">Invoicing</h5>
            <p class="leading-tight text-grey-darkest text-lg">Send emails with attached invoices you can customize.</p>
          </div>
        </div>
      </div>

      <div class="lg:w-1/3 w-full lg:pl-1 lg:pr-1 lg:mb-0 mb-4">
        <div class="rounded bg-white shadow p-6 flex items-start justify-start">
          <div class="mr-4 mt-1">
            <%= render_svg 'features/customizable' %>
          </div>
          <div>
            <h5 class="text-black uppercase tracking-wider font-brand-semibold font-normal mb-1" style="color: #9b51e0">Customizable</h5>
            <p class="leading-tight text-grey-darkest text-lg">Customimze your application wherever you see fit.</p>
          </div>
        </div>
      </div>

      <div class="lg:w-1/3 w-full lg:pl-3 lg:mb-0 mb-4">
        <div class="rounded bg-white shadow p-6 flex items-start justify-start">
          <div class="mr-4 mt-1">
            <%= render_svg 'features/easy-upgrades' %>
          </div>
          <div>
            <h5 class="text-black uppercase tracking-wider font-brand-semibold font-normal mb-1">Easy Upgrades</h5>
            <p class="leading-tight text-grey-darkest text-lg">Update your Jumpstart installation with a single terminal command.</p>
          </div>
        </div>
      </div>
    </div>


  <%= link_to "Read the documentation to learn more  ›", docs_path, class: "mt-10 text-grey-dark hover:text-grey-darker block no-underline text-center" %>
</section>